---
layout: page
title: Research
permalink: /research/
navbar_active: Research
index_page: true
---

{% assign pages = site.pages | where: "layout", "page_research_new" %}

<div class="row px-5 pb-5">
  {% for p in pages %}

  <!-- Resolve the page URL -->
  <!-- Use Forward URL -->
  {% if p.forward_url %} {% assign page_url = p.forward_url %}
  <!-- Use Internal Page  -->
  {% else %} {% assign page_url = p.permalink %}
  <!-- --- -->
  {%- endif -%}

  <div class="col-md-6">
    <a class="text-decoration-none" href="{{ page_url | relative_url }}">
      <div class="card research-group-card">
        <img class="card-img-top" src="{{ p.page_banner | relative_url }}" alt="p.title" />
        <div class="card-body text-center">
          <span class="research-group-title btn-link">{{p.title}}</span>
        </div>
      </div>
    </a>
  </div>
  {% endfor %}
</div>

<hr />

<div class="pb-4">
  <h4>
    Research Publications
    <small>(Department Affiliated)</small>
  </h4>

  <a href="{{  '/publications/' | relative_url }}">Research Publications</a>
</div>
