<button type="button" class="btn btn-primary btn-floating btn-sm" id="btn-back-to-top">
  <i class="fas fa-arrow-up"></i>
</button>

<!-- Footer Start -->
<div class="container-fluid footer position-relative bg-dark text-white-50 py-5 wow fadeIn" data-wow-delay="0.1s">
  <div class="container">
    <div class="row g-5 py-5">
      <div class="col-lg-6 pe-lg-5">
        <a href="{{ site.url }}{{ site.baseurl }}" class="navbar-brand">
          <h1 class="h2 text-primary mb-0">
            Computer Engineering <br />
            <span class="text-white">University of Peradeniya</span>
          </h1>
        </a>
        <p class="text-nowrap">
          <i class="fa fa-map-marker-alt me-2"></i>Department of Computer Engineering,<br />
          <span class="ms-4">Faculty of Engineering,</span><br />
          <span class="ms-4">University of Peradeniya,</span><br />
          <span class="ms-4">Peradeniya, 20400</span><br />
          <span class="ms-4">Sri Lanka</span>
        </p>
        <p><i class="fa fa-envelope me-2"></i>headce@eng.pdn.ac.lk</p>
        <p><i class="fa fa-phone-alt me-2"></i>+94 81 2393470</p>
        <p><i class="fas fa-print me-2"></i>+94 81 2393914</p>
      </div>

      <div class="col-lg-6 ps-lg-5">
        <div class="row g-5">
          <div class="col-sm-6">
            <h4 class="text-light mb-4">Links</h4>
            <a class="btn btn-link" href="{{ '/academics/' | relative_url }}">Academic</a>
            <a class="btn btn-link" href="{{ '/research/' | relative_url }}">Research</a>
            <a class="btn btn-link" href="https://people.ce.pdn.ac.lk">People</a>
            <a class="btn btn-link" href="https://projects.ce.pdn.ac.lk">Projects</a>
            <a class="btn btn-link" href="https://faq.ce.pdn.ac.lk">FAQ</a>
          </div>

          <div class="col-sm-6">
            <h4 class="text-light mb-4">Useful links</h4>
            <a class="btn btn-link" href="https://www.youtube.com/channel/UCK3iLe5Mt5eEHTlviEfZVkg?view_as=subscriber" target="_blank">Department YouTube Channel</a>
            <a class="btn btn-link" href="https://github.com/cepdnaclk/" target="_blank">Department GitHub Organization</a>
            <a class="btn btn-link" href="https://feels.pdn.ac.lk/" target="_blank">Faculty of Engineering eLearning System (FEeLS)</a>
            <a class="btn btn-link" href="http://eng.pdn.ac.lk/" target="_blank">Faculty of Engineering</a>
            <a class="btn btn-link" href="https://www.pdn.ac.lk/" target="_blank">University of Peradeniya</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Footer End -->

<!-- Quick Links -->
<div class="container-fluid copyright text-center bg-dark text-white-50 py-3">
  <a class="footer-link" target="_blank" href="https://web.ce.pdn.ac.lk/mail/">CE mail</a>
  |
  <a class="footer-link" target="_blank" href="https://webmail.pdn.ac.lk/">PDN mail</a>
  |
  <a class="footer-link" target="_blank" href="{{ '/sitemap/' | relative_url }}">Site Map</a>
  |
  <a class="footer-link" target="_blank" href="{{ site.data.links['Academic Calendar'] }}">Academic Calendar</a>
  |
  <a class="footer-link" target="_blank" href="{{ site.data.links['Timetables'] }}">Timetables</a>
  |
  <a class="footer-link" target="_blank" href="{{ site.data.links['Work Allocation'] }}">Work Allocations</a>
  |
  <a class="footer-link" target="_blank" href="{{ site.data.links['Examination Schedules'] }}">Examination Schedules</a>
</div>

<!-- Copyright Start -->
<div class="container-fluid copyright bg-dark text-white-50 py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center text-md-start">
        <p class="mb-0">&copy; <a href="{{ site.url }}{{ site.baseurl }}">Department of Computer Engineering -
                University of Peradeniya</a>. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</div>
<!-- Copyright End -->

<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top">
  <i class="bi bi-arrow-up"></i>
</a>

<!-- JavaScript Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="{{ '/assets/lib/wow/wow.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/lib/easing/easing.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/lib/waypoints/waypoints.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/lib/counterup/counterup.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/lib/owlcarousel/owl.carousel.min.js' | prepend: site.baseurl }}"></script>

<!-- Template Javascript -->
<!-- <script src="{{ '/assets/js/index.js' | prepend: site.baseurl }}"></script> -->
<!-- <script src="{{ '/assets/js/holder.min.js' | prepend: site.baseurl }}"></script> -->
<!-- <script src="{{ '/assets/js/bootstrap5-dropdown.js' | prepend: site.baseurl }}"></script> -->
<script src="{{ '/assets/js/tempalte-home.js' | prepend: site.baseurl }}"></script>