---
layout: wrappers_table
---

<!DOCTYPE html>
<html lang="en">
  <head>
    {% include meta.html %}
    <title>{{ page.title }}</title>
    {% include head.html %}
  </head>

  <body>
    {% include navbar.html %}
    <div class="container vh-75">
      <div class="container col-sm-12 col-md-10 col-lg-10 mx-auto mt-3 py-2">
        <nav aria-label="breadcrumb" class="pb-3">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="{{ site.baseurl }}{% link pages/home.html %}">Home</a>
            </li>
            <li class="breadcrumb-item">
              <a href="{{ site.baseurl }}{% link events/index.html %}">Events</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
          </ol>
        </nav>

        <div class="d-flex flex-row align-items-center pb-2">
          <div class="fs-3 me-2">{{ page.title }}</div>
          {%- for et in page.event_types -%}
          <span class="ms-2 badge bg-primary">{{et}}</span>
          {%- endfor -%}
        </div>
        <!--  -->
        {%- if page.published_date -%}
        <span class="text-muted">{{ page.published_date }} &middot;</span>
        {%- endif -%}
        <!--  -->
        {%- if page.author -%}
        <span class="ms-1 text-muted">{{ page.author }} &middot;</span>
        {%- endif -%}
        <!--  -->
        <span class="ms-1 text-muted" title="Estimated read time">
          {% include read_time.html content=page.content -%}
        </span>

        <hr />

        {%- if page.image -%}
        <div class="row py-5">
          <div class="col-8 mx-auto">
            <img src="{{ page.image}}" alt="{{ page.title }}" class="img-fluid img-thumbnail" />
          </div>
        </div>
        {%- endif -%}
        <div class="row pt-3">{{ content }}</div>

        <!-- Image Gallery -->
        {% if page.gallery %}
        <div class="mt-5 mb-3">
          <h4 class="project-section-title">Gallery</h4>
          <div class="container demo-gallery p-4">
            <ul id="lightgallery" class="list-unstyled row">
              {% for image in page.gallery_images %}
              <li
                class="col-lg-3 col-md-4 col-sm-6 d-flex align-self-center pb-2 mb-2"
                data-responsive="{{ image.thumb }} 400, {{ image.medium }} 800, {{ image.original }} 1600"
                data-src="{{ image.original }}"
                data-sub-html="{{ image.caption | escape }}"
              >
                <a href="javascript:void(0)">
                  <img
                    class="w-100 img-responsive"
                    alt="{{ image.alt_text | default: image.caption | default: page.title }}"
                    src="{{ image.medium }}"
                    srcset="{{ image.thumb }} 400w, {{ image.medium }} 800w, {{ image.original }} 1600w"
                    sizes="(min-width: 1200px) 25vw, (min-width: 992px) 33vw, (min-width: 576px) 50vw, 100vw"
                  />
                </a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        {% endif %}

        <!-- Videos -->
        {% if page.video %}
        <h4 class="mt-5 mb-3 pb-3">{{ page.video.title }}</h4>
        <p>{{ page.video.description }}</p>
        <div class="ratio ratio-16x9">
          <iframe
            width="560"
            height="315"
            src="{{ page.video.url }}"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>

        {% endif %}

        <div class="mt-5">
          <h5>Share this article:</h5>
          <div class="d-flex gap-2 social-share">
            <!-- Facebook -->
            <a
              class="btn btn-primary facebook"
              target="_blank"
              href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url | url_encode }}"
            >
              <i class="fab fa-facebook-f me-2"></i>
              Share
            </a>

            <!-- Twitter -->
            <a
              class="btn btn-info text-white twitter"
              target="_blank"
              href="https://twitter.com/intent/tweet?text={{ page.title }}&amp;url={{ site.url }}{{ page.url }}"
            >
              <i class="fab fa-twitter me-2"></i>
              Tweet
            </a>

            <!-- LinkedIn -->
            <a
              class="btn btn-primary linkedin"
              style="background-color: #0077b5; border-color: #0077b5"
              target="_blank"
              href="https://www.linkedin.com/sharing/share-offsite/?url={{ site.url | url_encode }}{{ page.url }}&amp;title={{ page.title }}"
            >
              <i class="fab fa-linkedin-in me-2"></i>
              Share
            </a>
          </div>
        </div>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
